extends ../layout-login

block content
  h1.text-center Washido
  .row.login-form
    .col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-body
          p.text-center To login enter your username and have fun!
          form(action="/user/login", method="POST")
            //- label.control-label Username
            .form-group
              input.form-control(type="text", name="username", placeholder="Username")
            .form-group
              button.btn.btn-success(type="submit") Login