*{
  box-sizing: border-box;
}
body {
  background-image: url(/images/_bg1.png);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.list-media{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.list-media li{
  float: left;
  margin: 5px;
  border-radius: 3px;
  border: 2px solid #FFF;
  position: relative;
}

.list-media li.active{
  border-color: #005D00;
}

.list-media li.active:before{
  content: 'Check';
  position: absolute;
  right: -5px;
  top: -5px; 
  background-color: #005D00;
  color: #FFF;
  padding: 5px;
  border-radius: 3px;
}

.list-media li .title{
  width: 100%;
  bottom: 0px;
  position: absolute;
  padding: 5px;
  background-color: rgba(0,0,0,.7);
  color: #FFF;
}

.js-active{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  border:none;
  display: block;
  background: transparent;
}

.js-active:hover{
  border:none;
  background-color: rgba(255,255,255,.5);
}

.login-form{
  margin-top: 50px;
}

.js-title-action{
  display: none;
}

.js-title{
  text-shadow: 1px 1px 1px rgba(255,255,255,0.4);
}

.js-title.movie span[data-type='movie']{
  display: inline-block;
  border-bottom: 2px dashed #e51c23;
  color: #e51c23;
}

.js-title.song span[data-type='song']{
  display: inline-block;
  border-bottom: 2px dashed #0c7cd5;
  color: #0c7cd5;
}

.js-title.book span[data-type='book']{
  display: inline-block;
  border-bottom: 2px dashed #3d8b40;
  color: #3d8b40;
}

.js-title.movie .js-default,
.js-title.song .js-default,
.js-title.book .js-default{
  display: none;
}

.js-title .js-default{
  border-bottom: 2px dashed #333;
}

.select-type{
  margin-top: 50px;
}

.select-type .btn{
  width: 100%;
  padding: 20px;
}

@media(max-width: 720px){
  .js-title.movie .js-default,
  .js-title.song .js-default,
  .js-title.book .js-default{
    display: none;
  }

  .js-title.movie span[data-type='movie'],
  .js-title.song span[data-type='song'],
  .js-title.book span[data-type='book']{
    display: table;
    margin: 0 auto;
  }
}
